.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
}

.left-nav {
  flex: 1;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Styling for links in the left and right navigation areas */
.left-nav a,
.right nav a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.left-nav a:hover,
.right-nav a:hover {
  background-color: #ddd;
  color: #000;
}

.signIn {
  padding: 5px;
  outline: 1px solid black;
  border-radius: 15px;
}

.dropdown {
  position: relative;
}

.dropdown-summary {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  /* outline: 1px solid black; */
  transition: background-color 0.2s;
}

.dropdown-summary:hover {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* left: 0;       align dropdown to the left*/
  /* right: 0; */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  flex-direction: column;
  width: 150px;
  padding: 10px 0;
  border-radius: 4px;
}

/* Link styling inside dropdown content */
.dropdown-content a {
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  transition: background-color 0.2s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown[open] .dropdown-content {
  display: flex;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
